body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

input{
    width: 280px;
    height: 30px;
    border-radius: 10%;
}

h2{
    color: white;
    border-bottom: 2px solid dodgerblue;
}

table, th, tr, td {
    border: 0 solid black;
    text-align: center;
    padding: 10px;
    color: white;
}

th{
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid #262626;
}

th:hover{
    box-shadow: 2px 2px black;
}

tr:nth-child(2n+1){
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#myInput{
    outline: none;
}

td{
    width: 2%;
}

/* tr:hover{
    box-shadow: 1px 2px black;
} */

table{
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
}

u{
    color: white;
    font-size: 19px;
}

#showData{
    width: 70%;
    padding: 3% 20%;
}

#btn_prev, #btn_next{
    padding: 7px 20px;
    border-radius: 20px;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    text-decoration: none;
    box-shadow: 1px 4px rgb(32, 158, 28);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
}

#btn_prev:hover, #btn_next:hover{
    box-shadow: 1px 2px rgb(32, 158, 28);
    top: 2px;
}

#btn_prev:active, #btn_next:active{
    box-shadow: none;
    top: 4px;
}