table, th, tr, td {
    border: 0 solid black;
    text-align: center;
    padding: 10px;
}

th{
    background-color: #fcd04b;
    border: 1px solid black;
}

th:hover{
    box-shadow: 2px 2px black;
}

tr:nth-child(2n+1){
    background-color: #fcad26;
}

#myInput{
    outline: none;
}

td{
    width: 2%;
    /* background-color: #fcad26; */
}

tr:hover{
    box-shadow: 1px 1px black;
}

table{
    background-color: rgb(248, 220, 63);
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
}

#showData{
    width: 70%;
    padding: 3% 20%;
}

#btn_prev, #btn_next{
    padding: 7px 20px;
    border-radius: 20px;
    background-color: rgb(42, 187, 37);
    color: black;
    text-decoration: none;
    box-shadow: 1px 4px rgb(32, 158, 28);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
}

#btn_prev:hover, #btn_next:hover{
    box-shadow: 1px 2px rgb(32, 158, 28);
    top: 2px;
}

#btn_prev:active, #btn_next:active{
    box-shadow: none;
    top: 4px;
}